.idea
.idea/
.DS_Store
*/.DS_Store

###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/upload-dev/
/public/upload-prod/
/public/upload-test/
/var/
### /vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
