{% extends 'base.html.twig' %}

{% block title %}Makeflow{% endblock %}

{% block body %}

    <a href="{{ url('makeflow_admin_dashboard') }}">管理员Dashboard</a>
    <br>
    <a href="{{ url('makeflow_user_dashboard') }}">员工Dashboard</a>

{% endblock %}
